*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
height: 100px;
display: flex   ;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: aqua;
}

.header__menu{
    width: 64px;
    height: 64px;
}

.logo--header{
    object-fit: none
}