

.header{
    padding: 15px;
    height: 20vh;
 
}

.header__main-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-mobile{
    width: 60px;
    height: 60px;
}

@media(min-width:960px){
    .header__menu-mobile{
        display: none;
    }
}

.header__menu-conteiner{
    display: none;
}

@media(min-width:960px){
.header__menu-conteiner{
    display: inherit;
}
}

.header__menu-list{
    width: 450px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}