*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* Section Welcome */

.welcome{
    height: 100vh;
    background-image: url("/assets/bg_bggenerator_com.png");}

.welcome__conteiner{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/* Section About Me */

.about-me{
    height: 80vh;
    background-color: #000000;
    padding: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
  
}

.about-me__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media(min-width:960px){
    .about-me__conteiner{
        flex-direction: row;
        gap: 20px;
        
    }
}

.about-me__text-conteiner{
    display: grid;
    text-align: center;
    gap: 40px;
    max-width: 550px;
    
}

@media(min-width:960px){
    .about-me__text-conteiner{
        text-align: left;
        gap: 0px;
       
    }
}

.about-me__img{
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}

@media(min-width:960px){
    .about-me__img{
        display: inherit;
    }
}

/* Section My Services */

.my-services{
    height: 1325px;
    overflow: auto;
}

@media(min-width:960px){
    .my-services{
        height: 600px;
    }
}



.my-services__title-conteiner{
    width: 250px;
    margin: 40px auto 0px;
    text-align: center;
}

.my-services__cards-conteiner{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@media(min-width:960px){
    .my-services__cards-conteiner{
        flex-direction: row;
    }
}

.card{
    width: 300px;
    display: grid;
    place-items: center;
    gap: 10px;
    border: none;
    padding: 10px;
    border-radius: 10%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='400' preserveAspectRatio='none' viewBox='0 0 400 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1189%26quot%3b)' fill='none'%3e%3crect width='400' height='400' x='0' y='0' fill='rgba(255%2c 178%2c 178%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c154.21C29.21%2c158.22%2c59.022%2c146.295%2c82.922%2c129.029C106.15%2c112.248%2c119.283%2c85.973%2c130.783%2c59.727C142.131%2c33.828%2c150.558%2c6.824%2c148.832%2c-21.399C147.008%2c-51.226%2c142.123%2c-83.749%2c120.731%2c-104.614C99.695%2c-125.132%2c67.25%2c-126.481%2c38.019%2c-129.482C12.983%2c-132.052%2c-11.195%2c-127.452%2c-35.425%2c-120.646C-59.929%2c-113.764%2c-86.899%2c-108.975%2c-103.544%2c-89.721C-120.184%2c-70.473%2c-117.392%2c-42.362%2c-124.276%2c-17.868C-132.422%2c11.116%2c-159.728%2c39.853%2c-147.718%2c67.461C-135.752%2c94.969%2c-95.343%2c92.916%2c-69.476%2c108.107C-45.014%2c122.472%2c-28.104%2c150.352%2c0%2c154.21' fill='%23ff8787'%3e%3c/path%3e%3cpath d='M400 544.234C427.305 540.33 451.677 530.182 477.592 520.735 511.503 508.374 556.476 510.799 575.637 480.211 594.543 450.032 573.951 410.964 568.392 375.789 562.918 341.149 569.383 299.281 543.333 275.802 517.1610000000001 252.214 474.773 270.398 440.86 260.844 407.509 251.448 380.405 210.293 347.317 220.577 314.102 230.9 315.157 280.461 292.58799999999997 306.927 270.293 333.073 220.431 339.491 216.779 373.657 213.088 408.187 260.48900000000003 425.592 276.615 456.348 291.431 484.605 280.72 526.656 306.707 545.167 332.56100000000004 563.583 368.578 548.727 400 544.234' fill='%23ffdddd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1189'%3e%3crect width='400' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    text-align: center;
    
}

/* Section Contact-Me */

.contact-me{
    height: 100vh;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

/* Footer */

