*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.welcome{
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2986%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='url(%23SvgjsLinearGradient2987)'%3e%3c/rect%3e%3cpath d='M0 0L345.69 0L0 223.16z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 223.16L345.69 0L391.69 0L0 510.37z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 510.37L391.69 0L770.86 0L0 735.48z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 735.48L770.86 0L1001.79 0L0 801.78z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 1000L1378.38 1000L1440 976.64z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 976.64L1378.38 1000L675.0000000000001 1000L1440 458.39z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 458.39L675 1000L651.56 1000L1440 433.47999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 433.48L651.56 1000L251.21999999999997 1000L1440 230.14000000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2986'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='7.64%25' y1='111%25' x2='92.36%25' y2='-11%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2987'%3e%3cstop stop-color='rgba(234%2c 57%2c 57%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(166%2c 97%2c 177%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    flex-direction: column;
}

.welcome__header-conteiner{
    height: 15vh;
}

.welcome__conteiner{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__conteiner{
    text-align: center;
    display: grid;
    gap: 40px;
    width: 80%;
    max-width: 700px;
}

.my-services{
    height: 1375px; 
    padding: 50px;
}

.my-services__conteiner-title{
    width: 60%;
    max-width: 400px;
    margin: 0 auto 50px auto;
    text-align: center;
    
}

.my-services__conteiner-cards{
    display: grid;
    gap: 30px;
    justify-content: center;
}

.my-services__card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

   
}

.my-services__title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;   
}

.my-services__card > p {
    margin: 0;
    text-align: center;
}